* {
    font-size: 30px;
    font-weight: 500;
}

.sqBtn, .clearBtn{
    height: 70px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.equals {
    border: 1px solid black;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 1000;
    font-size: 24px;
}

.numbers-actions {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.operators {
    display: flex;
}

.operators button{
    width: 100px;
    height: 70px;
    font-weight: 600;
    color: darkmagenta;
    background-color: #D3D3D3;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.operators button:hover{
    background-color: #A9A9A9;
    transform: scale(1.05);
}

.display {
    box-sizing: border-box;
    width: 400px;
    height: 85px;
    border: 1px solid black;
    color: white;
    background-color: rgb(26, 26, 26);
    font-size: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-family: 'Orbitron', serif;
}

button:hover {
    background-color: rgb(229, 229, 229);
    transform: scale(1.05);
}

button {
    background-color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.equals {
    background-color: darkmagenta;
    color: white
}

.equals:hover{
    background-color: rgb(122, 0, 122);
}

.calculator {
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
}


.main {
    background-color: rgb(230, 171, 208);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 675px; */
    height: 100vh;
    border: 2px solid black;
}   

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.footer {
    font-size: 18px;
    position: absolute;
    width: 99.5%;
    bottom: 0.2%;
    background-color: darkmagenta;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header {
    position: absolute;
    top: 0.1%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    background-color: darkmagenta;
    width: 98.9%;
    font-weight: 1000;
    font-size: 55px;
    font-family: 'Orbitron', serif;
}